body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.item {
    background-color: rgb(142, 142, 255);
    padding: 2em;
    color: white;
    margin: 1em;
}