body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

.container {
    padding: 0 20em;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#navbar .right {
    display: flex;
    align-items: center;
}

#navbar .right a {
    color: black;
    text-decoration: none;
    margin: 0 1em;
}

.offer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    color: white;
    background-color: #004f8a;
}

.offer-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* header style */
.header {
    height: 80vh;
    padding-top: 1em;
}

.blue-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    border: 10px solid #bef6ff;
    position: relative;
}

.blue-frame h1 {
    text-align: center;
    font-size: 2.5em;
}

#header-bg {
    position: absolute;
    bottom: -5em;
    z-index: -1;
}

button {
    background-color: rgb(255, 40, 40);
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3em;
    padding: 1em 3em;
}

.center-title {
    margin: 5em 0;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
}

.explain-container {
    background-color: rgb(175, 232, 255);
    display: flex;
    justify-content: space-around;
}

.explain-item {
    margin: 0 3em;
    position: relative;
}

.explain-item h3 {
    position: absolute;
    width: 2em;
    font-size: 2.5em;
    top: -5em;
}